{% extends 'base.html' %}

{% block title %} Home Page {% endblock title %} 

{% block content %}

{% if user.is_authenticated %}


<form class="form-inline mt-2 mt-md-0" action="{% url 'search_notes' %}"
method="get">
<input name="q" class="form-control mr-sm-2" typnnotese="text" placeholder="Search"
aria-label="Search">
</form> 

{% for notes in object_list %}

{% if notes.author == user %}       



<span class="border">


<p class="font-italic"><a href="{% url 'notes_detail' notes.pk %}" style="color: black"> ☛ {{ notes.folder }}</a></p>

{% endif %}

{% endfor %}

    {% else %}

<p class="font-italic"> &nbsp;&nbsp;&nbsp;&nbsp;Welcome to the Notes API! </p>
</span>

    {% endif %}



{% endblock content %}