{% if comment.done %}
<div class="custom-checkbox"> 
    <input
    type="checkbox"
    id="checkbox-done-{{comment.id}}"
    value=""
    checked="checked"
    hx-post="{% url 'complete' comment.id%}"
    hx-swap= "outerHTML"
    hx-target = "#comments"
    hx-trigger= "click"
        >
        <h1></h1>
        <label for="checkbox-notdone-{{comment.id}}">{{ comment.name }}  
            <!-- <button class="close" 
                hx-swap = "delete"
                hx-post = "{% url 'comment_delete' comment.id %}"> &times; </button> -->
</div>
{% else %} 
<div class="custom-checkbox">
<input 
type="checkbox" 
id="checkbox-notdone-{{comment.id}}" 
value="" 
hx-post= "{% url 'complete' comment.id %}"
hx-trigger= "click"
>
<label for="checkbox-notdone-{{comment.id}}">{{ comment.name }}  </label>
<!-- <button class="close" hx-post="{% url 'comment_delete' comment.id %}"> &times; </button> -->
{% endif %}